body {
    margin: auto;
    margin-top: 70px;
    max-width: 1200px;
    width: 17em;
}

label {
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
}
input {
    padding: 7px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
}