body {
    margin: auto;
    margin-top: 7.2em;
    max-width: 1200px;
    width: 20.8em;
    background-image: url(img/mosaicbg.jpg);
    overflow: hidden;
}

.formbg {
    background-color: white;
    border-radius: 8px;
    width: 275px;
    padding: 20px;
}

label {
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
}
input {
    padding: 7px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
}
#submit:hover {
    cursor: pointer;
}